html {
  background-color: #fcfdff;
  color: #102542;
  font-size: 24px;
}

.expression-builder {
  display: flex;
  flex-direction: column;
}

.expression-blocks {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}

.expression-blocks > * {
  align-self: center;
  justify-content: center;
  margin: 0.5rem;
}

.block {
  min-width: 5vw;
  min-height: 3vh;
}

.block-type {
  padding: 1rem;
  background-color: #f87060;
  border-radius: 2px;
  border: solid 1px #f87060;
}

.block-value {
  padding: 1rem;
  border-radius: 2px;
  border: solid 1px #f87060;
}

.block-wrapper {
  font-size: 5rem;
  color: rgba(16, 37, 66, 0.5);
}

.block-operator {
  border: dashed 2px #ccd7d6;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.expression-result {
  font-weight: 700;
  color: #f87060;
  padding: 0.5rem;
  margin: 0.5rem;
  border-style: none;
  font-size: 1rem;
  border-bottom: solid 1px #ccd7d6;
}

.add, .wrap {
  cursor: pointer;
}
