<div class="expression-builder">
  <div class="expression-blocks">
  {{#each blocks as |block index|}}
  {{component blockComponent
  options=options
  operators=operators
  deleteComponent=deleteComponent
  typeComponent=typeComponent
  valueComponent=valueComponent
  operatorComponent=operatorComponent
  multipleBlocks = multipleBlocks
  update=(action "update")
  delete=(action "delete" index)
  block=block
  }}
  {{/each}}
  {{#if hasOptions}}
    {{component addComponent add=(action "add")}}
  {{/if}}
  </div>
  {{#if hasExpression}}
    {{component resultComponent expression=expression}}
  {{/if}}
</div>
